<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 
  支付方式配置项[静态加载,修改后需要重启WEB服务才生效]：
  -->
  <payTypes>
    <payType key="alipay" name="支付宝" isOpen="1" isDefault="1" />
    <payType key="wxpay" name="微信支付" isOpen="1" isDefault="0" />
    <payType key="qqpay" name="QQ钱包" isOpen="1" isDefault="0" />
    <payType key="tenpay" name="财付通" isOpen="1" isDefault="0" />
    <payType key="alipaycode" name="支付宝扫码" isOpen="1" isDefault="0" />
    <payType key="jdpay" name="京东支付" isOpen="1" isDefault="0" />
  </payTypes>
  
  <!-- 
  支付金额设置[静态加载,修改后需要重启WEB服务才生效]
  key: 0-公用, other - 对应payType.key
  -->
  <payMoneys>
    <payMoney value="0.01" isDefault="0" payKey="0" />
    <payMoney value="1" isDefault="1" payKey="0" />
    <payMoney value="10" isDefault="0" payKey="0" />
    <payMoney value="50" isDefault="0" payKey="0" />
    <payMoney value="100" isDefault="0" payKey="0" />
    <payMoney value="200" isDefault="0" payKey="0" />
    <payMoney value="300" isDefault="0" payKey="0" />
    <payMoney value="500" isDefault="0" payKey="0" />
    <payMoney value="1000" isDefault="0" payKey="0" />
  </payMoneys>
  
  <!-- 
  支付宝相关配置 
  注意：该配置为关键支付配置，修改完成后需要重启Web服务后生效.
  -->
  <paySettings>
    <!-- 商户编号 -->
    <add key="pid" value="172028" />
    <!-- 商户安全码 -->
    <add key="key" value="4814C780B39D47CB51CD5EDE5AD9D103" />
    <!-- 站点名称 -->
    <add key="sitename" value="云充值" />
    <!-- 支付网关 -->
    <add key="payurl" value="http://shenlanyun.cn/submit.php" />
    <!-- 订单查询网关 -->
    <add key="queryurl" value="http://shenlanyun.cn/api.php" />
    <!-- 支付通知地址 -->
    <add key="notifyurl" value="http://182.61.43.26:8092/paynotify.aspx" />
    <!-- 支付后跳转地址  -->
    <add key="returnurl" value="http://182.61.43.26:8092/payresult.aspx" />
  </paySettings>
</configuration>
