<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 
  支付方式配置项[静态加载,修改后需要重启WEB服务才生效]：
  -->
  <payTypes>
    <payType key="alipayh5" name="支付宝H5" isOpen="1" isDefault="0" />
    <payType key="wechath5" name="微信H5" isOpen="1" isDefault="0" />
    <payType key="qqpayh5" name="QQ钱包H5" isOpen="1" isDefault="0" />
    <payType key="alipay" name="支付宝" isOpen="1" isDefault="1" />
    <payType key="wechat" name="微信" isOpen="1" isDefault="0" />
    <payType key="qqpay" name="QQ钱包" isOpen="1" isDefault="0" />
    <payType key="jdpay" name="京东支付" isOpen="1" isDefault="0" />
    <payType key="unionpay" name="银联扫码" isOpen="1" isDefault="0" />
    <payType key="quickpay" name="快捷支付" isOpen="1" isDefault="0" />
    <payType key="baidupay" name="百度支付" isOpen="1" isDefault="0" />
    <payType key="flowerpay" name="花呗支付" isOpen="1" isDefault="0" />
    <payType key="ABC" name="农业银行" isOpen="1" isDefault="0" />
    <payType key="BJRCB" name="北京农商银行" isOpen="1" isDefault="0" />
    <payType key="BOC" name="中国银行" isOpen="1" isDefault="0" />
    <payType key="CEB" name="光大银行" isOpen="1" isDefault="0" />
    <payType key="CIB" name="兴业银行" isOpen="1" isDefault="0" />
    <payType key="CITIC" name="中信银行" isOpen="1" isDefault="0" />
    <payType key="CMBC" name="民生银行" isOpen="1" isDefault="0" />
    <payType key="ICBC" name="工商银行" isOpen="1" isDefault="0" />
    <payType key="SPABANK" name="平安银行" isOpen="1" isDefault="0" />
    <payType key="SPDB" name="浦发银行" isOpen="1" isDefault="0" />
    <payType key="PSBC" name="邮政储蓄银行" isOpen="1" isDefault="0" />
    <payType key="NJCB" name="南京银行" isOpen="1" isDefault="0" />
    <payType key="COMM" name="交通银行" isOpen="1" isDefault="0" />
    <payType key="CMB" name="招商银行" isOpen="1" isDefault="0" />
    <payType key="CCB" name="建设银行" isOpen="1" isDefault="0" />
    <payType key="BJBANK" name="北京银行" isOpen="1" isDefault="0" />
    <payType key="HXB" name="华夏银行" isOpen="1" isDefault="0" />
    <payType key="GDB" name="广发银行" isOpen="1" isDefault="0" />
    <payType key="HKBEA" name="东亚银行" isOpen="1" isDefault="0" />
  </payTypes>
  
  <!-- 
  支付金额设置[静态加载,修改后需要重启WEB服务才生效]
  key: 0-公用, other - 对应payType.key
  -->
  <payMoneys>
    <payMoney value="0.01" isDefault="0" payKey="0" />
    <payMoney value="1" isDefault="1" payKey="0" />
    <payMoney value="10" isDefault="0" payKey="0" />
    <payMoney value="50" isDefault="0" payKey="0" />
    <payMoney value="100" isDefault="0" payKey="0" />
    <payMoney value="200" isDefault="0" payKey="jdpay" />
    <payMoney value="300" isDefault="0" payKey="qqpay" />
    <payMoney value="500" isDefault="0" payKey="wechat" />
    <payMoney value="1000" isDefault="0" payKey="alipay" />

    <payMoney value="5000" isDefault="0" payKey="alipayh5" />
    <payMoney value="10001" isDefault="0" payKey="wechath5" />
  </payMoneys>
  
  <!-- 
  支付宝相关配置 
  注意：该配置为关键支付配置，修改完成后需要重启Web服务后生效.
  -->
  <paySettings>
    <!-- 商户编号 -->
    <add key="mid" value="6535" />
    <!-- 商户安全码 -->
    <add key="securityCode" value="C35E20C3B73B8DB9ED2AA338BF65E1AA" />
    <!-- 支付网关 -->
    <add key="payurl" value="https://api.wonderfulsky.com.cn/service" />
    <!-- 订单查询网关 -->
    <add key="queryurl" value="https://api.wonderfulsky.com.cn/service" />
    <!-- 支付通知地址 -->
    <add key="notifyurl" value="http://127.0.0.1/paynotify.aspx" />
    <!-- 支付后跳转地址  -->
    <add key="returnurl" value="http://127.0.0.1/payresult.aspx" />
  </paySettings>
</configuration>
